#credit{
    position:fixed;
    color: rgb(78, 204, 67);
    left:95%;
    top:95%;
}
#graph{
    position: relative;
    text-align:center;
}
#linktographingpolynomials{
    position: relative;
    color : rgb(0, 0, 0);
    top:auto;
    left:60%;
    height:100px;
    width:100px;
    left:420px;
    top: 275px;
    border:hidden;
    background-size:contain;
    background-image:url(images/graphingpolynomialslogo.png);
}
#linktographingpolynomials:hover{
    cursor:pointer;
    height: 150px;
    width:150px;
    left:395px;
    top: 250px;
}
#CCF{
    position: relative;
    top:200px;
    left:100px;
    height:200px;
    width:200px;
}
#CCF:hover{
    height:300px;
    width:300px;
    cursor:pointer;
    top:150px;
    left:50px;
}
#linktocontacts{
    position:fixed;
    top:95%;
    left:90%;
}
