#credit{
    position:fixed;
    color: rgb(78, 204, 67);
    left:95%;
    top:95%;
}
#graph{
    position: relative;
    text-align:center;
}
#linktographingpolynomials{
    position: relative;
    color : rgb(0, 0, 0);
    top:auto;
    left:60%;
    height:100px;
    width:100px;
    left:420px;
    top: 275px;
    border:hidden;
    margin:0px;
    border:0px;
    background-size:contain;
    background-image:url(images/graphingpolynomialslogo.png);
}
#linktographingpolynomials:hover{
    cursor:pointer;
    height: 150px;
    width:150px;
    left:395px;
    top: 250px;
}

#linktocontacts{
    position: absolute;
    color : rgb(0, 0, 0);
    top:auto;
    left:60%;
    height:100px;
    width:100px;
    left:600px;
    top: 275px;
    border:hidden;
    background-size:contain;
    background-image:url(images/contactlogo.png);
    margin:0px;
    border:0px;
}
#linktocontacts:hover{
    transform: rotate(20deg);
    cursor:pointer;
}