#credit{
    position:absolute;
    color: rgb(78, 204, 67);
    left:1000px;
    top:95%;
}
#graph{
    position: absolute;
    text-align:center;
}
button{
    position: absolute;
    color : rgb(78, 204, 67);
    top:auto;
    left:60%;

    background-image:url("images/yellow.png");
}
img{
    position: absolute;
    top:1000px;
    left:10px;
    size: 10px;
}