p1{
    position:absolute;
    color:crimson;
    font-weight: 900;
    font-style: oblique;
}
p2{
    position:relative;
    color:crimson;
    font-weight: 900;
    top:100px;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#linktoindex{
    position:fixed;
    left:0px;
    top:80%;
}